Collections/Web Apps/TestServiceSln/TestServiceSln/TestConsoleApplication/Service References/RealServiceReferenceLocal/RealService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Faults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaultType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Faults" nillable="true" type="tns:Faults" />
</xs:schema>